{% load static %}
<div class="col-lg-4 col-12">
    <div class="gt-main-sideber sticky-style">
        <div class="gt-single-sideber-widget">
            <div class="gt-widget-title">
                <h3>دسته بندی ها</h3>
            </div>
            <ul>
                <li><a href="news-details.html">بازی لایو</a><span>(01)</span></li>
                <li><a href="news-details.html">فانتزی</a><span>(02)</span></li>
                <li><a href="news-details.html">گیمینگ</a><span>(03)</span></li>
                <li><a href="news-details.html">ایکس باکس</a><span>(04)</span></li>
                <li><a href="news-details.html">شلیک</a><span>(05)</span></li>
            </ul>
        </div>

        <div class="gt-single-sideber-widget">
            <div class="gt-widget-title">
                <h3>پست اخیر</h3>
            </div>
            <div class="gt-recent-post-area">
                <div class="gt-recent-items">
                    <div class="gt-recent-thumb">
                        <img src="{% static 'shared/img/inner-page/news-details/post-1.jpg' %}" alt="img">
                    </div>
                    <div class="gt-recent-content">
                        <h6><a href="news-details.html">یک روز در زندگی یک رویداد ورزش‌های
                            الکترونیکی</a></h6>
                        <ul>
                            <li>شش اسفند 1404</li>
                        </ul>
                    </div>
                </div>
                <div class="gt-recent-items">
                    <div class="gt-recent-thumb">
                        <img src="{% static 'shared/img/inner-page/news-details/post-2.jpg' %}" alt="img">
                    </div>
                    <div class="gt-recent-content">
                        <h6><a href="news-details.html">شخصیت های تأثیرگذار در تاریخ<br>لورم اپسیوم</a>
                        </h6>
                        <ul>
                            <li>شش اسفند 1404</li>
                        </ul>
                    </div>
                </div>
                <div class="gt-recent-items">
                    <div class="gt-recent-thumb">
                        <img src="{% static 'shared/img/inner-page/news-details/post-3.jpg' %}" alt="img">
                    </div>
                    <div class="gt-recent-content">
                        <h6><a href="news-details.html">پشت صحنه‌های مورد علاقه شما<br>لورم اپسیوم</a>
                        </h6>
                        <ul>
                            <li>شش اسفند 1404</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="gt-contact-bg bg-cover"
             style="background-image: url({% static 'shared/img/inner-page/match-details/bg.jpg' %});">
            <div class="gt-contact-content">
                <h3>نیاز به کمک دارید؟</h3>
                <p>نیاز به کمک دارید؟ با ما تماس بگیرید – پشتیبانی کامل </p>
                <div class="gt-contact-item">
                    <div class="gt-icon"><i class="fa-solid fa-phone"></i></div>
                    <ul class="gt-list">
                        <li><span>تماس با ما:</span></li>
                        <li><a href="tel:+0094382229540">09120000000</a></li>
                    </ul>
                </div>
                <div class="gt-contact-item">
                    <div class="gt-icon"><i class="fa-regular fa-envelope"></i></div>
                    <ul class="gt-list">
                        <li><span>ایمیل ما</span></li>
                        <li><a href="infor%40xridergamil.html">infor@xridergamil.com</a></li>
                    </ul>
                </div>
                <div class="gt-contact-item mb-0">
                    <div class="gt-icon"><i class="fa-solid fa-location-dot"></i></div>
                    <ul class="gt-list">
                        <li><span>لوکیشن:</span></li>
                        <li>ایران استان البرز</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>