{% extends 'shared/base.html' %}
{% load static %}
{% block title %}خانه{% endblock %}
{% block content %}
    <!-- GT About Section Start -->
    <section class="gt-about-section fix section-padding rtl">
        <h2 class="text">
            اکسپورت <br>
            2025
        </h2>
        <div class="left-shape">
            <img src="{% static 'shared/img/home-1/about/shape-1.png' %}" alt="img">
        </div>
        <div class="container">
            <div class="gt-about-wrapper">
                <div class="row g-4">
                    <div class="col-lg-5">
                        <div class="gt-about-content">
                            <div class="gt-section-title mb-0">
                                <h6 class="wow fadeInUp">درباره اکسپورتس</h6>
                                <h2 class="wow fadeInUp rtl" data-wow-delay=".3s">
                                    مسیر<br>
                                    <span>اکسپورتس</span>
                                </h2>
                            </div>
                            <p class="gt-about-text wow fadeInUp rtl" data-wow-delay=".5s">
                                یک استودیو بازی‌سازی که بازی‌های ویدیویی هیجان‌انگیز و باکیفیت بالا را خلق می‌کند و
                                تمرکز
                                اصلی‌اش بر گیم‌پلی و مکانیک‌های جذاب و فراگیر است.
                            </p>
                            <div class="gt-about-box-wrapper  wow fadeInUp" data-wow-delay=".3s">
                                <div class="gt-about-box-item">
                                    <div class="gt-about-box bg-color">
                                        <div class="icon">
                                            <img src="{% static 'shared/img/home-1/icon/icon-1.svg' %}" alt="img">
                                        </div>
                                        <div class="content">
                                            <h5>پشتیبانی واقعیت مجازی</h5>
                                            <p>
                                                یک استودیو بازی‌سازی که بازی‌های ویدیویی هیجان‌انگیز می‌سازد
                                            </p>
                                        </div>
                                    </div>
                                    <div class="gt-about-box border-none">
                                        <div class="icon">
                                            <img src="{% static 'shared/img/home-1/icon/icon-2.svg' %}" alt="img">
                                        </div>
                                        <div class="content">
                                            <h5>تعیین موقعیت مکانی</h5>
                                            <p>
                                                یک استودیو بازی‌سازی که بازی‌های ویدیویی هیجان‌انگیز می‌سازد
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="gt-about-box-item">
                                    <div class="gt-about-box">
                                        <div class="icon">
                                            <img src="{% static 'shared/img/home-1/icon/icon-3.svg' %}" alt="img">
                                        </div>
                                        <div class="content">
                                            <h5>چند بعدی</h5>
                                            <p>
                                                یک استودیو بازی‌سازی که بازی‌های ویدیویی هیجان‌انگیز می‌سازد
                                            </p>
                                        </div>
                                    </div>
                                    <div class="gt-about-box border-none bg-color">
                                        <div class="icon">
                                            <img src="{% static 'shared/img/home-1/icon/icon-4.svg' %}" alt="img">
                                        </div>
                                        <div class="content">
                                            <h5>سیستم کنسول</h5>
                                            <p>
                                                یک استودیو بازی‌سازی که بازی‌های ویدیویی هیجان‌انگیز می‌سازد
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="row g-4">
                            <div class="col-xl-7 col-lg-12 col-md-7">
                                <div class="gt-about-image wow img-custom-anim-top" data-wow-duration="1.3s"
                                     data-wow-delay="0.3s">
                                    <img src="{% static 'shared/img/home-1/about/about-1.png' %}" alt="img">
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-12 col-md-5">
                                <div class="gt-about-image gt-about-image-2">
                                    <img src="{% static 'shared/img/home-1/about/about-2.png' %}" alt="img"
                                         class="wow img-custom-anim-right"
                                         data-wow-duration="1.3s" data-wow-delay="0.3s">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- GT Marque Section Start -->
    <div class="gt-marque-section">
        <div class="overlay-shape">
            <img src="{% static 'shared/img/home-1/overlay.png' %}" alt="img">
        </div>
        <div class="marquee-text-slider-3 style-11">
            <div class="swiper marquee-text-slider">
                <div class="swiper-wrapper slide-transtion">
                    <div class="swiper-slide brand-slide-element">
                        <div class="marquee-text-3">
                            <span class="text-marquee">رویارویی نهایی</span>
                            <span><img src="{% static 'shared/img/home-1/circle.png' %}" alt="img"></span>
                        </div>
                    </div>
                    <div class="swiper-slide brand-slide-element">
                        <div class="marquee-text-3">
                            <span class="text-marquee">جنگجویان میدان نبرد</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="marquee-text-slider-3 style-12">
            <div dir="rtl" class="swiper marquee-text-slider-2">
                <div class="swiper-wrapper slide-transtion">
                    <div class="swiper-slide brand-slide-element">
                        <div class="marquee-text-3">
                            <span class="text-marquee">مسابقات آخرین ایستادگی</span>
                            <span><img src="{% static 'shared/img/home-1/circle.png' %}" alt="img"></span>
                        </div>
                    </div>
                    <div class="swiper-slide brand-slide-element">
                        <div class="marquee-text-3">
                            <span class="text-marquee">سلطنت جنگجو در پایان بازی</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- GT Game-bg Section Start -->
    <section class="gt-game-bg-section fix bg-cover"
             style="background-image: url({% static 'shared/img/home-1/game/b1.jpg' %});">
        <div class="text-shape">
            <img src="{% static 'shared/img/home-1/game/text.png' %}" alt="img">
        </div>
        <div class="container">
            <div class="gt-gaming-bg-wrapper rtl">
                <div class="row g-4 justify-content-between">
                    <div class="col-lg-5">
                        <div class="gt-games-content">
                            <h6 class="text-white wow animated-image">بهترین امکانات بازی در جهان
                            </h6>
                            <h2 class="text-white wow animated-image">
                                خلق افسانه‌ها<br>
                                دنیای بازی!
                            </h2>
                            <div class="gt-button wow animated-image">
                                <a href="#" class="gt-theme-btn gt-style-border">
                                    مشاهده بیشتر
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="gt-games-content style-2">
                            <h6 class="text-white wow animated-image">عرضه جدیدترین بازی</h6>
                            <h2 class="text-white wow animated-image">
                                بازی شروع شد قدرتت را
                                بالا ببر
                            </h2>
                            <div class="gt-button gt-style-2 wow animated-image">
                                <a href="#" class="gt-theme-btn gt-style-border">
                                    مشاهده بیشتر
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- GT Game Section Start -->
    <section class="gt-game-section section-padding fix">
        <div class="container-fluid rtl">
            <div class="gt-section-title-2 text-center">
                <h6 class="wow fadeInUp">ثبات فنی تضمین شده</h6>
                <h2 class="wow fadeInUp" data-wow-delay=".3s">
                    بازی‌هایی با وضوح بالا
                </h2>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                    <div class="gt-gaming-card-item">
                        <div class="gt-gaming-image">
                            <img src="{% static 'shared/img/home-1/game/game-1.png' %}" alt="img">
                            <a href="#" class="icon"><i class="fa-solid fa-arrow-right"></i></a>
                            <div class="gt-gaming-content">
                                <h6>متاورس</h6>
                                <h3>
                                    <a href="#">گیم‌پلی انتقام شیرین</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                    <div class="gt-gaming-card-item">
                        <div class="gt-gaming-image">
                            <img src="{% static 'shared/img/home-1/game/game-2.png' %}" alt="img">
                            <a href="#" class="icon"><i class="fa-solid fa-arrow-right"></i></a>
                            <div class="gt-gaming-content">
                                <h6>متاورس</h6>
                                <h3>
                                    <a href="#">گیم‌پلی انتقام شیرین</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".6s">
                    <div class="gt-gaming-card-item">
                        <div class="gt-gaming-image">
                            <img src="{% static 'shared/img/home-1/game/game-3.png' %}" alt="img">
                            <a href="#" class="icon"><i class="fa-solid fa-arrow-right"></i></a>
                            <div class="gt-gaming-content">
                                <h6>متاورس</h6>
                                <h3>
                                    <a href="#">گیم‌پلی انتقام شیرین</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".8s">
                    <div class="gt-gaming-card-item">
                        <div class="gt-gaming-image">
                            <img src="{% static 'shared/img/home-1/game/game-4.png' %}" alt="img">
                            <a href="#" class="icon"><i class="fa-solid fa-arrow-right"></i></a>
                            <div class="gt-gaming-content">
                                <h6>متاورس</h6>
                                <h3>
                                    <a href="#">گیم‌پلی انتقام شیرین</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                    <div class="gt-gaming-card-item">
                        <div class="gt-gaming-image">
                            <img src="{% static 'shared/img/home-1/game/game-5.png' %}" alt="img">
                            <a href="#" class="icon"><i class="fa-solid fa-arrow-right"></i></a>
                            <div class="gt-gaming-content">
                                <h6>متاورس</h6>
                                <h3>
                                    <a href="#">گیم‌پلی انتقام شیرین</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                    <div class="gt-gaming-card-item">
                        <div class="gt-gaming-image">
                            <img src="{% static 'shared/img/home-1/game/game-6.png' %}" alt="img">
                            <a href="#" class="icon"><i class="fa-solid fa-arrow-right"></i></a>
                            <div class="gt-gaming-content">
                                <h6>متاورس</h6>
                                <h3>
                                    <a href="#">گیم‌پلی انتقام شیرین</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".6s">
                    <div class="gt-gaming-card-item">
                        <div class="gt-gaming-image">
                            <img src="{% static 'shared/img/home-1/game/game-7.png' %}" alt="img">
                            <a href="#" class="icon"><i class="fa-solid fa-arrow-right"></i></a>
                            <div class="gt-gaming-content">
                                <h6>متاورس</h6>
                                <h3>
                                    <a href="#">گیم‌پلی انتقام شیرین</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".8s">
                    <div class="gt-gaming-card-item">
                        <div class="gt-gaming-image">
                            <img src="{% static 'shared/img/home-1/game/game-8.png' %}" alt="img">
                            <a href="#" class="icon"><i class="fa-solid fa-arrow-right"></i></a>
                            <div class="gt-gaming-content">
                                <h6>متاورس</h6>
                                <h3>
                                    <a href="#">گیم‌پلی انتقام شیرین</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- GT Video Section Start -->
    <section class="gt-video-section section-padding pt-0 fix rtl">
        <div class="container">
            <div class="gt-video-wrapper style-2 bg-cover"
                 style="background-image: url({% static 'shared/img/home-1/feature/video-bg.jpg' %});">
                <div class="gt-video-content">
                    <h6 class="wow fadeInUp" data-wow-delay=".3s">با عشق بازی کن</h6>
                    <h2 class="wow fadeInUp" data-wow-delay=".5s">
                        انتقام شیرین <br>
                        گیم‌پلی
                    </h2>
                    <a href="#" class="gt-theme-btn">
                        همین حالا بازی کن
                    </a>
                </div>
                <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                    <i class="fa-solid fa-play"></i>
                </a>
            </div>
        </div>
    </section>

    <!-- GT Shop Section Start -->
    <section class="gt-shop-section section-padding fix bg-cover rtl"
             style="background-image: url({% static 'shared/img/home-1/shop/shop-bg.jpg' %});">
        <div class="container">
            <div class="gt-section-title-2 text-center">
                <h6 class="wow fadeInUp">تجهیزات بازی</h6>
                <h2 class="wow fadeInUp" data-wow-delay=".3s">
                    آماده شو با تجهیزات گیمینگ
                </h2>
            </div>
            <div class="swiper gt-shop-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="gt-shop-card-item">
                            <span>25 درصد تخفیف</span>
                            <div class="gt-shop-image">
                                <img src="{% static 'shared/img/home-1/shop/shop-1.png' %}" alt="img">
                                <ul class="gt-shop-icon d-grid justify-content-center align-items-center">
                                    <li>
                                        <a href="#"><i class="far fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="far fa-shopping-cart"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <button data-bs-toggle="modal" data-bs-target="#exampleModal2">
                                            <i class="far fa-eye"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <div class="gt-shop-content">
                                <h5>
                                    <a href="#">
                                        لورم اپسیوم<br>
                                        و لورم اپسیوم
                                    </a>
                                </h5>
                                <p>280تومان-380تومان</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gt-shop-card-item">
                            <span>25 درصد تخفیف</span>
                            <div class="gt-shop-image">
                                <img src="{% static 'shared/img/home-1/shop/shop-2.png' %}" alt="img">
                                <ul class="gt-shop-icon d-grid justify-content-center align-items-center">
                                    <li>
                                        <a href="#"><i class="far fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="far fa-shopping-cart"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <button data-bs-toggle="modal" data-bs-target="#exampleModal2">
                                            <i class="far fa-eye"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <div class="gt-shop-content">
                                <h5>
                                    <a href="#">
                                        لورم اپسیوم<br>
                                        و لورم اپسیوم
                                    </a>
                                </h5>
                                <p>280تومان-380تومان</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gt-shop-card-item">
                            <span>25 درصد تخفیف</span>
                            <div class="gt-shop-image">
                                <img src="{% static 'shared/img/home-1/shop/shop-3.png' %}" alt="img">
                                <ul class="gt-shop-icon d-grid justify-content-center align-items-center">
                                    <li>
                                        <a href="#"><i class="far fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="far fa-shopping-cart"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <button data-bs-toggle="modal" data-bs-target="#exampleModal2">
                                            <i class="far fa-eye"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <div class="gt-shop-content">
                                <h5>
                                    <a href="#">
                                        لورم اپسیوم<br>
                                        و لورم اپسیوم
                                    </a>
                                </h5>
                                <p>280تومان-380تومان</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gt-shop-card-item">
                            <span>25 درصد تخفیف</span>
                            <div class="gt-shop-image">
                                <img src="{% static 'shared/img/home-1/shop/shop-4.png' %}" alt="img">
                                <ul class="gt-shop-icon d-grid justify-content-center align-items-center">
                                    <li>
                                        <a href="#"><i class="far fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="far fa-shopping-cart"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <button data-bs-toggle="modal" data-bs-target="#exampleModal2">
                                            <i class="far fa-eye"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <div class="gt-shop-content">
                                <h5>
                                    <a href="#">
                                        لورم اپسیوم<br>
                                        و لورم اپسیوم
                                    </a>
                                </h5>
                                <p>280تومان-380تومان</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- GT Testimonial Section Start -->
    <section class="gt-testimonial-section section-padding fix section-bg-1 ">
        <div class="right-shape">
            <img src="{% static 'shared/img/home-1/testimonial/shape.png' %}" alt="img">
        </div>
        <div class="container rtl">
            <div class="gt-section-title-area">
                <div class="gt-section-title-2">
                    <h6 class="wow fadeInUp">تجربیات کاربران ما</h6>
                    <h2 class="wow fadeInUp" data-wow-delay=".3s">
                        تجربیات کاربران ما
                    </h2>
                </div>
                <div class="rating wow fadeInUp" data-wow-delay=".5s">
                    <span>امتیازدهی بیش از ۱۲۰۰ مشتری</span>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="gt-testimonial-wrapper">
                <div class="row g-4 justify-content-between">
                    <div class="col-lg-7">
                        <div class="swiper gt-testimonial-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="gt-testimonial-card-item">
                                        <div class="gt-client-info">
                                            <div class="image">
                                                <img src="{% static 'shared/img/home-1/testimonial/client-1.png' %}"
                                                     alt="img">
                                            </div>
                                            <div class="text">
                                                <h6>دنیل اسمیت</h6>
                                                <p>مهندس ارشد</p>
                                            </div>
                                        </div>
                                        <div class="gt-testi-content">
                                            <div class="icon">
                                                <img src="{% static 'shared/img/home-1/icon/quate.svg' %}" alt="img">
                                            </div>
                                            <p>
                                                این آژانس دیجیتال به‌طور کامل حضور آنلاین ما را متحول کرد. تخصص، خلاقیت
                                                و
                                                دقت آن‌ها فراتر از تمام انتظارات ما بود. ما به شدت آن‌ها را توصیه
                                                می‌کنیم...
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="gt-testimonial-card-item">
                                        <div class="gt-client-info">
                                            <div class="image">
                                                <img src="{% static 'shared/img/home-1/testimonial/client-1.png' %}"
                                                     alt="img">
                                            </div>
                                            <div class="text">
                                                <h6>دنیل اسمیت</h6>
                                                <p>مهندس ارشد</p>
                                            </div>
                                        </div>
                                        <div class="gt-testi-content">
                                            <div class="icon">
                                                <img src="{% static 'shared/img/home-1/icon/quate.svg' %}" alt="img">
                                            </div>
                                            <p>
                                                این آژانس دیجیتال به‌طور کامل حضور آنلاین ما را دگرگون کرد. تخصص، خلاقیت
                                                و
                                                توجه دقیق آن‌ها فراتر از تمام انتظارات ما بود. ما به شدت آن‌ها را توصیه
                                                می‌کنیم...
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="gt-testimonial-card-item">
                                        <div class="gt-client-info">
                                            <div class="image">
                                                <img src="{% static 'shared/img/home-1/testimonial/client-1.png' %}"
                                                     alt="img">
                                            </div>
                                            <div class="text">
                                                <h6>دنیل اسمیت</h6>
                                                <p>مهندس ارشد</p>
                                            </div>
                                        </div>
                                        <div class="gt-testi-content">
                                            <div class="icon">
                                                <img src="{% static 'shared/img/home-1/icon/quate.svg' %}" alt="img">
                                            </div>
                                            <p>
                                                این آژانس دیجیتال به‌طور کامل حضور آنلاین ما را دگرگون کرد. تخصص، خلاقیت
                                                و
                                                توجه دقیق آن‌ها فراتر از تمام انتظارات ما بود. ما به شدت آن‌ها را توصیه
                                                می‌کنیم...
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-dot ltr">
                            <div class="dot"></div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="text-image">
                            <img src="{% static 'shared/img/home-1/testimonial/text-image.png' %}" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- GT Team Section Start -->
    <section class="gt-team-section section-padding fix bg-cover"
             style="background-image: url({% static 'shared/img/home-1/team/team-bg.jpg' %});">
        <div class="right-shape wow animated-image">
            <img src="{% static 'shared/img/home-1/team/shape-1.png' %}" alt="img">
        </div>
        <div class="container rtl">
            <div class="gt-team-wrapper">
                <div class="row g-4 align-items-center">
                    <div class="col-lg-8">
                        <div class="swiper gt-team-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="gt-team-card-item">
                                        <div class="gt-team-image">
                                            <img src="{% static 'shared/img/home-1/team/team-2.jpg' %}" alt="img">
                                            <div class="gt-team-content">
                                                <div class="gt-social-icon d-flex align-items-center">
                                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                                </div>
                                                <h3>
                                                    <a href="#">چون چینگ</a>
                                                </h3>
                                                <p>طراح هنری بازی</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="gt-team-card-item">
                                        <div class="gt-team-image">
                                            <img src="{% static 'shared/img/home-1/team/team-1.jpg' %}" alt="img">
                                            <div class="gt-team-content">
                                                <div class="gt-social-icon d-flex align-items-center">
                                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                                </div>
                                                <h3>
                                                    <a href="#">چون چینگ</a>
                                                </h3>
                                                <p>طراح هنری بازی</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="gt-team-card-item">
                                        <div class="gt-team-image">
                                            <img src="{% static 'shared/img/home-1/team/team-3.jpg' %}" alt="img">
                                            <div class="gt-team-content">
                                                <div class="gt-social-icon d-flex align-items-center">
                                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                                </div>
                                                <h3>
                                                    <a href="#">چون چینگ</a>
                                                </h3>
                                                <p>طراح هنری بازی</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 rtl">
                        <div class="gt-team-cont">
                            <div class="gt-section-title-2 rtl">
                                <h6 class="text-white wow fadeInUp">بهترین گیمر ما</h6>
                                <h2 class="text-white wow fadeInUp" data-wow-delay=".3s">
                                    بهترین تیم <br> گیم ما
                                </h2>
                            </div>
                            <p class="text-white gt-text rtl">
                                یک استودیو بازی‌سازی که بازی‌های ویدیویی هیجان‌انگیز و باکیفیت بالا خلق می‌کند و تمرکز
                                اصلی
                                آن بر گیم‌پلی و مکانیک‌های جذاب و فراگیر است.
                            </p>
                            <div class="array-buttons wow fadeInUp" data-wow-delay=".5s">
                                <button class="array-prev"><i class="fa-solid fa-arrow-up"></i></button>
                                <button class="array-next"><i class="fa-solid fa-arrow-down"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- GT News Section Start -->
    <section class="gt-news-section section-padding fix rtl">
        <div class="container">
            <div class="gt-section-title-area rtl">
                <div class="gt-section-title-2">
                    <h6 class="wow fadeInUp">آخرین اخبار</h6>
                    <h2 class="wow fadeInUp" data-wow-delay=".3s">
                        جدیدترین اخبار و بلاگ
                    </h2>
                </div>
                <a href="#" class="gt-theme-btn gt-style-border">
                    مشاهده همه بلاگ‌ها
                </a>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                    <div class="gt-news-card-item rtl">
                        <div class="gt-news-image">
                            <img src="{% static 'shared/img/home-1/news/news-1.jpg' %}" alt="img">
                        </div>
                        <div class="gt-news-content">
                            <ul class="gt-list">
                                <li>
                                    <i class="fa-regular fa-calendar"></i>
                                    پنج خرداد 1403
                                </li>
                            </ul>
                            <h4>
                                <a href="#">
                                    تحول بازی‌های آنلاین و رشد آن‌ها
                                </a>
                            </h4>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                            </p>
                            <a href="#" class="icon"><i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".5s">
                    <div class="gt-news-card-item rtl">
                        <div class="gt-news-image">
                            <img src="{% static 'shared/img/home-1/news/news-2.jpg' %}" alt="img">
                        </div>
                        <div class="gt-news-content">
                            <ul class="gt-list">
                                <li>
                                    <i class="fa-regular fa-calendar"></i>
                                    پنج خرداد 1403
                                </li>
                            </ul>
                            <h4>
                                <a href="#">
                                    تحول بازی‌های آنلاین و رشد آن‌ها
                                </a>
                            </h4>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                            </p>
                            <a href="#" class="icon"><i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".7s">
                    <div class="gt-news-card-item rtl">
                        <div class="gt-news-image">
                            <img src="{% static 'shared/img/home-1/news/news-3.jpg' %}" alt="img">
                        </div>
                        <div class="gt-news-content">
                            <ul class="gt-list">
                                <li>
                                    <i class="fa-regular fa-calendar"></i>
                                    پنج خرداد 1403
                                </li>
                            </ul>
                            <h4>
                                <a href="#">
                                    تحول بازی‌های آنلاین و رشد آن‌ها
                                </a>
                            </h4>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                            </p>
                            <a href="#" class="icon"><i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- GT News Section Start -->
    <section class="gt-cta-bg-section fix bg-cover"
             style="background-image: url({% static 'shared/img/home-1/cta/cta-bg-1.jpg' %});">
        <div class="container rtl">
            <div class="gt-cta-bg-wrapper">
                <div class="shape float-bob-y">
                    <img src="{% static 'shared/img/home-1/cta/shape-1.png' %}" alt="img">
                </div>
                <div class="row g-4">
                    <div class="col-lg-7">
                        <div class="gt-cta-content">
                            <h2 class="wow fadeInUp" data-wow-delay=".3s">
                                به ایکس‌پورتس بپیوندید <br>
                                و امروز تبدیل به بازیکن حرفه‌ای بعدی شوید!
                            </h2>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="gt-right-image">
                            <a href="#" class="gt-theme-btn wow fadeInUp" data-wow-delay=".5s">
                                به جمع ما بپیوندید
                            </a>
                            <div class="gt-cta-image wow animated-image">
                                <img src="{% static 'shared/img/home-1/cta/man.png' %}" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- GT Brand Section Start -->
    <div class="gt-brand-section section-padding fix rtl">
        <div class="container">
            <div class="swiper gt-brand-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="gt-brand-box">
                            <div class="gt-brand-image text-center">
                                <img src="{% static 'shared/img/home-1/brand/b-1.png' %}" alt="img">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gt-brand-box">
                            <div class="gt-brand-image text-center">
                                <img src="{% static 'shared/img/home-1/brand/b-2.png' %}" alt="img">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gt-brand-box">
                            <div class="gt-brand-image text-center">
                                <img src="{% static 'shared/img/home-1/brand/b-3.png' %}" alt="img">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gt-brand-box">
                            <div class="gt-brand-image text-center">
                                <img src="{% static 'shared/img/home-1/brand/b-4.png' %}" alt="img">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gt-brand-box">
                            <div class="gt-brand-image text-center">
                                <img src="{% static 'shared/img/home-1/brand/b-5.png' %}" alt="img">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gt-brand-box">
                            <div class="gt-brand-image text-center">
                                <img src="{% static 'shared/img/home-1/brand/b-6.png' %}" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- GT Newsletter Section Start -->
    <section class="gt-newsletter-section fix mb-4 rtl">
        <div class="container">
            <div class="gt-newsletter-wrapper bg-cover"
                 style="background-image: url({% static 'shared/img/home-1/cta/newsletter-bg.jpg' %});">
                <div class="shape">
                    <img src="{% static 'shared/img/home-1/cta/drive.png' %}" alt="img">
                </div>
                <h4>
                    امروز ثبت‌نام کنید <br>
                    تا جدیدترین اخبار و دیدگاه‌ها را دریافت کنید.
                </h4>
                <form action="#">
                    <div class="form-clt">
                        <input type="text" name="email" id="email" placeholder="آدرس ایمیل شما">
                        <button type="submit" class="gt-theme-btn">
                            همین حالا مشترک شوید
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <!-- GT Footer Section Start -->
    <footer class="gt-footer-section section-bg">
        <div class="container">
            <div class="gt-footer-widget-wrapper rtl">
                <div class="row justify-content-between">
                    <div class="col-xl-4 col-lg-6 col-md-12 wow fadeInUp rtl" data-wow-delay=".2s">
                        <div class="gt-footer-widget-items rtl">
                            <div class="gt-widget-head">
                                <a href="index.html" class="gt-footer-logo">
                                    <img src="{% static 'shared/img/logo/white-logo.svg' %}" alt="img">
                                </a>
                            </div>
                            <div class="gt-footer-content">
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                </p>
                                <div class="gt-social-icon d-flex align-items-center">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 wow fadeInUp rtl" data-wow-delay=".4s">
                        <div class="gt-footer-widget-items rtl">
                            <div class="gt-widget-head">
                                <h5>استودیوی ما</h5>
                            </div>
                            <ul class="gt-list-area">
                                <li>
                                    <a href="#">
                                        درباره ما
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        تیم ما
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        تبلیغات
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        اطلاعات حقوقی
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        همکاری
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 ps-lg-3 col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay=".6s">
                        <div class="gt-footer-widget-items rtl">
                            <div class="gt-widget-head">
                                <h5>صفحات کاربردی</h5>
                            </div>
                            <ul class="gt-list-area">
                                <li>
                                    <a href="#">
                                        شرایط خدمات
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        حریم خصوصی / شرایط استفاده
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        کارت‌های هدیه
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        نقد و بررسی بازی‌ها
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        سرویس‌های اشتراکی
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay=".8s">
                        <div class="gt-footer-widget-items rtl">
                            <div class="gt-widget-head">
                                <h5>دانلود بازی های ما</h5>
                            </div>
                            <div class="gt-footer-app">
                                <div class="app-image">
                                    <img src="{% static 'shared/img/home-1/footer/app-1.jpg' %}" alt="img">
                                </div>
                                <div class="app-image">
                                    <img src="{% static 'shared/img/home-1/footer/app-2.jpg' %}" alt="img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom wow fadeInUp rtl" data-wow-delay=".3s">
                <div class="footer-wrapper">
                    <p>اکس‌پورتس2025. تمامی حقوق محفوظ است.</p>
                    <ul class="gt-footer-list wow fadeInUp" data-wow-delay=".3s">
                        <li>
                            <a href="#">کوکی‌ها</a>
                        </li>
                        <li>
                            <a href="#">حریم خصوصی</a>
                        </li>
                        <li>
                            <a href="#">قوانین</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}