{% extends 'shared/base.html' %}
{% load static %}
{% block title %}وبلاگ{% endblock %}
{% block content %}
    <!-- GT News-standard Section Start -->
    <section class="news-standard-section section-padding rtl">
        <div class="container">
            <div class="gt-news-standard-wrapper">
                <div class="row g-4">
                    <div class="col-12 col-lg-8">
                        <div class="gt-news-standard-items">
                            <div class="gt-news-card-items-5">
                                <div class="gt-news-image">
                                    <img src="{% static 'shared/img/inner-page/news-details/details-1.jpg' %}" alt="img">
                                </div>
                                <div class="gt-news-content">
                                    <ul class="gt-date-list">
                                        <li>
                                            <i class="fa-solid fa-calendar-days"></i>
                                            یازده ازدیبهشت 1403
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-comments"></i>
                                            19 نظر
                                        </li>
                                    </ul>
                                    <h3>
                                        <a href="#">
                                            سی پنل چیست؟ راهنمای کامل تسلط بر کنترل پنل. لورم <br>ایپسوم متن ساختگی با
                                            تولید
                                        </a>
                                    </h3>
                                    <p>
                                        در ماه‌های گذشته، پال‌ورد به سرعت پیروانی جمع‌آوری کرد و قبل از اینکه به یکی از
                                        موفق‌ترین بازی‌های مستقل ویدئویی تمام دوران تبدیل شود.لورم ایپسوم متن ساختگی با
                                        تولید سادگی نامفهوم
                                    </p>
                                    <a href="#" class="gt-theme-btn">
                                        بیشتر بخوانید
                                    </a>
                                </div>
                            </div>
                            <div class="gt-news-card-items-5">
                                <div class="gt-news-image">
                                    <img src="{% static 'shared/img/inner-page/news-details/details-2.jpg' %}" alt="img">
                                </div>
                                <div class="gt-news-content">
                                    <ul class="gt-date-list">
                                        <li>
                                            <i class="fa-solid fa-calendar-days"></i>
                                            یازده ازدیبهشت 1403
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-comments"></i>
                                            19 نظر
                                        </li>
                                    </ul>
                                    <h3>
                                        <a href="#">
                                            استراتژی‌هایی برای تسلط بر بازی مورد علاقه‌تان
                                        </a>
                                    </h3>
                                    <p>
                                        در ماه‌های گذشته، پال‌ورد به سرعت پیروانی جمع‌آوری کرد و قبل از اینکه به یکی از
                                        موفق‌ترین بازی‌های مستقل ویدئویی تمام دوران تبدیل شود.لورم ایپسوم متن ساختگی با
                                        تولید سادگی نامفهوم از صنعت چاپ
                                    </p>
                                    <a href="#" class="gt-theme-btn">
                                        بیشتر بخوانید
                                    </a>
                                </div>
                            </div>
                            <div class="gt-news-card-items-5 mb-0">
                                <div class="gt-news-image">
                                    <img src="{% static 'shared/img/inner-page/news-details/details-3.jpg' %}" alt="img">
                                </div>
                                <div class="gt-news-content">
                                    <ul class="gt-date-list">
                                        <li>
                                            <i class="fa-solid fa-calendar-days"></i>
                                            یازده ازدیبهشت 1403
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-comments"></i>
                                            19 نظر
                                        </li>
                                    </ul>
                                    <h3>
                                        <a href="#">
                                            شخصیت‌های تأثیرگذار در تاریخ بازی‌ها
                                        </a>
                                    </h3>
                                    <p>
                                        در ماه‌های گذشته، پال‌ورد به سرعت پیروانی جمع‌آوری کرد و قبل از اینکه به یکی از
                                        موفق‌ترین بازی‌های مستقل ویدئویی تمام دوران تبدیل شود.لورم ایپسوم متن ساختگی با
                                        تولید سادگی نامفهوم از صنعت چاپ
                                    </p>
                                    <a href="#" class="gt-theme-btn">
                                        بیشتر بخوانید
                                    </a>
                                </div>
                            </div>
                            <div class="gt-page-nav-wrap pt-5 text-start">
                                <ul class="justify-content-start">
                                    <li><a class="gt-page-numbers" href="#"><i
                                            class="fa-solid fa-chevron-right"></i></a></li>
                                    <li><a class="gt-page-numbers" href="#">01</a></li>
                                    <li><a class="gt-page-numbers active" href="#">02</a></li>
                                    <li><a class="gt-page-numbers" href="#">03</a></li>
                                    <li><a class="gt-page-numbers" href="#">04</a></li>
                                    <li><a class="gt-page-numbers" href="#"><i class="fa-solid fa-chevron-left"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12">
                        <div class="gt-main-sideber sticky-style">
                            <div class="gt-single-sideber-widget">
                                <div class="gt-widget-title">
                                    <h3>دسته بندی ها</h3>
                                </div>
                                <ul>
                                    <li><a href="#">بازی لایو</a><span>(01)</span></li>
                                    <li><a href="#">فانتزی</a><span>(02)</span></li>
                                    <li><a href="#">گیمینگ</a><span>(03)</span></li>
                                    <li><a href="#">ایکس باکس</a><span>(04)</span></li>
                                    <li><a href="#">شلیک</a><span>(05)</span></li>
                                </ul>
                            </div>
                            <div class="gt-single-sideber-widget">
                                <div class="gt-widget-title">
                                    <h3>پست اخیر</h3>
                                </div>
                                <div class="gt-recent-post-area">
                                    <div class="gt-recent-items">
                                        <div class="gt-recent-thumb">
                                            <img src="{% static 'shared/img/inner-page/news-details/post-1.jpg' %}" alt="img">
                                        </div>
                                        <div class="gt-recent-content">
                                            <h6>
                                                <a href="#">
                                                    یک روز در زندگی یک رویداد ورزش‌های الکترونیکی
                                                </a>
                                            </h6>
                                            <ul>
                                                <li>
                                                    شش اسفند 1404
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="gt-recent-items">
                                        <div class="gt-recent-thumb">
                                            <img src="{% static 'shared/img/inner-page/news-details/post-2.jpg' %}" alt="img">
                                        </div>
                                        <div class="gt-recent-content">
                                            <h6>
                                                <a href="#">
                                                    شخصیت های تأثیرگذار در تاریخ<br>
                                                    لورم اپسیوم
                                                </a>
                                            </h6>
                                            <ul>
                                                <li>
                                                    شش اسفند 1404
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="gt-recent-items">
                                        <div class="gt-recent-thumb">
                                            <img src="{% static 'shared/img/inner-page/news-details/post-3.jpg' %}" alt="img">
                                        </div>
                                        <div class="gt-recent-content">
                                            <h6>
                                                <a href="#">
                                                    پشت صحنه‌های مورد علاقه شما<br>
                                                    لورم اپسیوم
                                                </a>
                                            </h6>
                                            <ul>
                                                <li>
                                                    شش اسفند 1404
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gt-contact-bg bg-cover"
                                 style="background-image: url({% static 'shared/img/inner-page/match-details/bg.jpg' %});">
                                <div class="gt-contact-content">
                                    <h3>نیاز به کمک دارید؟</h3>
                                    <p>نیاز به کمک دارید؟ با ما تماس بگیرید – پشتیبانی کامل </p>
                                    <div class="gt-contact-item">
                                        <div class="gt-icon">
                                            <i class="fa-solid fa-phone"></i>
                                        </div>
                                        <ul class="gt-list">
                                            <li><span>تماس با ما:</span></li>
                                            <li><a href="tel:+0094382229540">09120000000</a></li>
                                        </ul>
                                    </div>
                                    <div class="gt-contact-item">
                                        <div class="gt-icon">
                                            <i class="fa-regular fa-envelope"></i>
                                        </div>
                                        <ul class="gt-list">
                                            <li><span>ایمیل ما</span></li>
                                            <li><a href="#">
                                                infor@xridergamil.com
                                            </a></li>
                                        </ul>
                                    </div>
                                    <div class="gt-contact-item mb-0">
                                        <div class="gt-icon">
                                            <i class="fa-solid fa-location-dot"></i>
                                        </div>
                                        <ul class="gt-list">
                                            <li><span>لوکیشن:</span></li>
                                            <li>ایران استان البرز</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- GT Newsletter Section Start -->
    <section class="gt-newsletter-section fix mb-4">
        <div class="container">
            <div class="gt-newsletter-wrapper bg-cover rtl"
                 style="background-image: url({% static 'shared/img/home-1/cta/newsletter-bg.jpg' %});">
                <div class="shape">
                    <img src="{% static 'shared/img/home-1/cta/drive.png' %}" alt="img">
                </div>
                <h4 class="wow fadeInLeft" data-wow-delay=".3s">
                    امروز ثبت‌نام کنید تا جدیدترین اخبار<br>
                    و دیدگاه ها را دریافت کنید
                </h4>
                <form action="#" class="wow fadeInRight" data-wow-delay=".5s">
                    <div class="form-clt">
                        <input type="text" name="email" id="email" placeholder="آدرس ایمیل شما">
                        <button type="submit" class="gt-theme-btn">
                            همین حالا مشترک شوید
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock %}